.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-fluid {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
  height: auto;
  
}
h1{
    letter-spacing: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

/*Media Queries*/
@media (max-width:320px) {
  h1{
    font-size: 1rem;
    letter-spacing: 3px;
  }
  
}
@media (min-width:1000px) {
  h1{
    font-size: 50px;
  }
}
@media(max-width:420px)
{
  h1{
    font-size: 20px;
    letter-spacing: 4px;
    
  }
}
@media(max-width:425px){
  h1{
    font-size: 15px;
    letter-spacing: 5px;
    
  }
}